/* .location{
  background-color: black;
  height: 270px;
  
} */
._3t {
  height: 270px;
  display: flex;
  /* width: 140vh; */
  margin-left:5%;
  margin-right: 5%;
  /* margin-left: auto;
  margin-right: auto; */
}
.banner {
  background-color: #171a29;
  /* width: 100%; */
}
.banner2 {
  background-color: white;
}
/* ._3t {
  height:100%;
  display:table; */
/* margin: 30px; */
/* } */
.Line1 {
  /* color: blue; */
  width: 400px;
  float: left;
}
.Line2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.imgswiggy {
  height: 180px;
  width: 260px;
  margin: 40px;
}
.Lines1 {
  display: flex;
  /* float: left; */
  color: aliceblue;
  /* justify-content: space-between; */
}
.Lines2 {
  display: flex;
  /* clear: both; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */

  color: aliceblue;
  /* max-width: 540px; */
}
.rateline {
  height: 40px;
  width: 1px;
  background-color: aliceblue;
  margin: 8px;
}
.left {
  text-align: left;
  margin: 10px;
}
.Ratings {
  display: flex;
  /* color: white; */
  /* margin: 30px; */
  /* flex-wrap: wrap; */
}
/* .icon,.icons {
  /* margin: 20px; */

.Line3 {
  /* float: left; */
  /* width: 100px; */
  /* height: 100%; */
  margin-top: 70px;
  width: 300px;
  /* float: left; */
  color: aliceblue;
  /* display: flex; */
}
.Offer {
  text-align: left;
  font-size: 26px;
  font-weight: 800;
  /*  */
}
.Offers {
  border: 1px solid white;
  padding: 20px;
  font-size: 12px;
}
.Offersered {
  display: flex;
}
.imgoffer {
  /* margin-top: -150px; */
  padding-top: -150px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: white;
}

.recommended {
  display: flex;
  /* width: 140vh; */
  margin-left: 5%;
  margin-right: 5%;
  /*  */
}
.section1 {
  width: 300px;
  align-self: flex-start;
}
.section2 {
  width: 600px;
  flex-grow: 1;
  /* padding: 0px 50px 100px; */

  text-align: left;
}
.section3 {
  width: 300px;
  margin-left: 4vh;
  /* border: 2px solid; */
  /*  */
}

/* .everage{
  margin-right: -17px;
  padding-right: 17px;
  overflow-x: hidden;
  overflow-y: scroll;

} */
.beverage {
  /* position: fixed; */
  text-align: right;
  /* left: 440px; */
  padding-right: 30px;
  /*  */
}
.tag {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  /* line-height: 1.5px; */
}
.tag:hover {
  color: rgb(218, 33, 33);
}
._1Lx {
  width: 6px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

.sec21 {
  /* border-bottom: 2px solid black; */
  border-left: 1px solid grey;
  padding-left: 20px;
  /*  */
}
.secrec {
  /* padding: 26px 0 32px; */
  font-size: 30px;
  margin-bottom: 0px;
}
.item {
  padding-bottom: 20px;
  font-size: 13px;
  /* margin-top: -30px; */
}
.items {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
  /*  */
}
.items2 {
  padding-bottom: 14px;
}
.items3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left:10%;  
}
.best {
  /* margin-left: -110px; */
  /* text-align: left; */
  /* float: left; */
  color: rgb(243, 166, 24);
  margin-top: -5px;
}
.starorange {
  height: 15px;
  width: 15px;
  margin: 0px 5px;
  /* margin-left: -110px; */
}
.circle {
  background-color: green;
  border-radius: 10px;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}
.imgcircle {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  padding: 2px;
  margin-left: -110px;
}
.items5 {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction:row ; */
}
.items51 {
  margin-left: -110px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.serves {
  /* margin-top: 15px; */
  margin-left: -110px;
  margin-top: 0px;
}
.servess {
  margin-top: 0px;
  margin-left: -110px;
}

.items41 {
  margin-left: 16px;
  min-width: 120px;
  height: 120px;
}
.idlistyle {
  /* background-color: orange; */
  width: 120px;
  height: 90px;
  /* object-fit: cover; */
  border-radius: 5px;
}
.button {
  padding: 0px;
  border: none;
}
.idlistyle1 {
  width: 105px;
  height: 90px;
  /* object-fit: cover; */
  border-radius: 7px;
  /* border-style: none; */
}
.addbutton {
  display: flex;
  flex-direction: row;
  width: 11vh;
  border: 2px solid green;
}

.btnadd {
  font-size: large;
  padding: 1vh;
  border: none;
  cursor: pointer;
}
.addbuttons {
  bottom: 8px;
  width: 96px;
  position: absolute;
  min-height: 35px;
  line-height: 35px;
  left: 50%;
  height: 30px;
  display: inline-block;
  border: 1px solid rgb(162, 158, 158);
  color: green;
  background-color: rgb(221, 225, 229);
  text-align: center;
}

.B1 {
  height: 100%;
  color: green;
  width: 100%;
  cursor: pointer;
}

.B2,
.B3,
.B4 {
  display: none !important;
}

.itemsline {
  height: 1px;
  padding: 0 12px;
  margin: 20px 0px;
  border-bottom: 0.5px solid rgb(241, 238, 238);
}

.cart1 {
  display: flex;
  flex-direction: column;
  /* padding-left: 3vh; */
  align-items: center;
  /* align-content: space-around; */
  /* justify-content: space-between;*/
  border: 2px solid black;
  text-align: center;
}
.cart21{
  /* text-align: left; */
  font-size: x-large;
  font-weight: 600;

}
.cart3{
  font-size: 15px;
  text-align: center;
}
.cart22{
  margin: 0 -10px;
  display: flex;
  /* position: relative; */
  /* overflow-y: hidden; */
  flex-direction: column;
  width: 100%;
}
/* .cart1{
  border: 1px solid black;
  margin: 20;
} */
.sub {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  display: none;
}
.subcart {
  display: flex;
  padding: 0px 16px 0 15px;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.subcart31 {
  height: 0px;
  display: block;
}
.subcart32 {
  margin-left: -4px;
  margin-right: -6px;
  position: relative;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn > button {
  width: 33%;
  border: none;
  background-color: transparent;
  font-size: large;
  cursor: pointer;
}
.subcart4 {
  background-color: black;
  left: -9px;
  position: absolute;
  width: 3px;
  border-radius: 1px;
  height: 100%;
}
.welcome {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-bottom: 4px;
  color: black;
  margin: 5px;
}
.saved {
  line-height: 12px;

  font-size: 10px;
  font-weight: 400;
}
.saves {
  font-weight: 600;
}

.total {
  text-align: left;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
.total_1 {
  margin-top: 0px;
}
.cart23 {
  height: 50px;
  width: 250px;
  background-color: green;
  color: white;
  margin: 5px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
}
